<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Customer contracts list</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/table-filter.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css"/>
    <link rel="stylesheet" type="text/css" href="/css/admin.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div th:replace="fragments/header :: header">

</div>

<a sec:authorize="hasAuthority('COMPANY')" data-toggle="modal" data-target="#modalService"
   class="btn btn-info btn-sm" role="button" onclick="getCategories()">Create new service</a>

<div class="panel panel-primary filterable">
    <div class="panel-heading">
        <h3 class="panel-title">Services</h3>
        <div class="pull-right">
            <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter
            </button>
        </div>
    </div>
    <input type="hidden" id="customerId" th:value="${customerId}">
    <input type="hidden" id="customerName" th:value="${customerName}">
    <table class="table table-condensed table-hover">
        <thead>
        <tr class="filters">
            <th>
                <select class="form-control" id="selectFilter">
                    <option value=""></option>
                    <option th:each="category : ${categoryList}"
                            th:text="${category.getName()}">
                    </option>
                </select>
            </th>
            <th><input type="text" class="form-control" placeholder="Name" disabled></th>
            <th sec:authorize="hasAuthority('CUSTOMER')">
                <input type="text" class="form-control" placeholder="Company" disabled>
            </th>
            <th><input type="text" class="form-control" placeholder="Price" disabled></th>
            <th><input type="text" class="form-control" placeholder="Description" disabled></th>
            <th></th>
        </tr>

        </thead>
        <tbody>
        <tr th:each="product : ${products}" th:id="'row'+${product.getId()}">

            <td th:id="categoryId" th:value="${product.getCategory().getId()}"
                th:text="${product.getCategory().getName()}">category
            </td>
            <td th:id="productId" th:value="${product.getId()}"
                th:text="${product.getName()}">name
            </td>
            <td sec:authorize="hasAuthority('CUSTOMER')" th:id="companyId"
                th:value="${product.getCompany().getId()}"
                th:text="${product.getCompany().getName()}">company
            </td>
            <td class="currency money" th:id="sum" th:value="${product.getPrice()}"
                th:text="${#numbers.formatDecimal(product.getPrice(),1,2)}+' MDL'">price
            </td>
            <td th:id="description" th:value="${product.getDescription()}"
                th:text="${product.getDescription()}">description
            </td>

            <td>
                <a sec:authorize="hasAuthority('CUSTOMER')" data-toggle="modal" data-target="#modalContract"
                   class="btn btn-info btn-sm" role="button" th:id="${product.getId()}"
                   onclick="createNewContract(this)">create new contract</a>
             </td>

        </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="modalService" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create new Service</h4>
            </div>
            <form>
                <div class="modal-body modal_body_category">
                    <p id="company_id" sec:authorize="hasAuthority('COMPANY')"
                       th:text="${company.getId()}" style="display: none"></p>
                    <input id="new_category_id" type="text" hidden="hidden"/>
                    <label>Category name</label>
                    <select id="select_category"></select>
                    <label>Name</label>
                    <input id="new_service_name" type="text" required/>
                    <label>Price</label>
                    <input id="new_service_price" type="number" min="0" step="0.01" value="0.0" required/>
                    <label>Description</label>
                    <input id="new_service_desc" type="text" required/>
                    <p id="error_service" style="color: #FF1C19"></p>
                </div>
                <div class="modal-footer modal_btn">
                    <button type="button" style="display: none;" class="btn"></button>
                    <button id="save_btn_service" type="submit" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalContract" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Contract details</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Issue date</label>
                        <div class="col-sm-6">
                            <input type="date" class="form-control" id="issueDate" required="required"/>
                            <p class="error-message" id="issueDateError" style="display: none"> validation error</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Expire date</label>
                        <div class="col-sm-6">
                            <input type="date" class="form-control" id="expireDate" required="required"/>
                            <p class="error-message" id="expireDateError" style="display: none">validation error</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Customer</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="customerA" value="" readonly/>
                            <input type="hidden" class="form-control" id="customerIdA"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Company</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="companyA" readonly/>
                            <input type="hidden" class="form-control" id="companyIdA"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Service</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="productA" value="" readonly/>
                            <input type="hidden" class="form-control" id="productIdA"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Sum</label>
                        <div class="col-sm-6">
                            <input type="number" class="form-control" id="sumA" readonly/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Signature</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="statusA">
                                <option selected>Signed</option>
                                <option>Unsigned</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6 col-xs-offset-3">
                            <button type="submit" id="btn_save_contract" class="btn btn-info">Save</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAlert" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="alertMessage"></h4>
            </div>
            <div class="modal-footer modal_btn">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</body>


<script src="/js/table-filter.js"></script>

<script>

    function getCategories() {
        $("#new_service_name").val("");
        $("#new_service_desc").val("");
        $("#new_service_price").val("0.0");
        $.ajax(
            {
                url: "/categories",
                success: function (result) {
                    loadCategories(result);
                }
            }
        )
    }

    function loadCategories(data) {
        $.each(data, function (id, object) {
            var categoryID = object.id;
            $.each(object, function (key, value) {
                if (key == "name"){
                    $("#select_category").append("<option id='" + categoryID + "'>" + value + "</option>")
                }
            });
        });
    }

    $("#save_btn_service").click(function () {
        if ($("#new_service_name").val() != "" && $("#new_service_desc").val() != "" && $("#new_service_price").val() != "0.0") {
            var newServiceData = {
                "name": $("#new_service_name").val(),
                "price": $("#new_service_price").val(),
                "company_id": $("#company_id").text(),
                "category_id": $("#select_category").children(":selected").attr("id"),
                "description": $("#new_service_desc").val()
            }

            $.ajax(
                {
                    url: "/companyRest/newService",
                    type: "post",
                    contentType: "application/json",
                    data: JSON.stringify(newServiceData),
                    success: function () {
                    }
                }
            )
        }
    });

    function createNewContract(btn) {
        clearErrors();
        var row = $("#row" + btn.id);
        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var today = now.getFullYear() + "-" + (month) + "-" + (day);
        $('#issueDate').val(today);
        $('#expireDate').val(null);
        $('#customerA').val($('#customerName').val());
        $('#customerIdA').val($("#customerId").val());
        $('#companyA').val(row.find("#companyId").text());
        $('#companyIdA').val(row.find("#companyId").attr('value'));
        $('#productA').val(row.find("#productId").text());
        $('#productIdA').val(row.find("#productId").attr('value'));
        $('#sumA').val(row.find("#sum").attr('value'));
    };

    $("#btn_save_contract").click(function (event) {

        event.preventDefault();
        $('#alertMessage').text('');

        var newContractData = {
            "issueDate": $("#issueDate").val(),
            "expireDate": $("#expireDate").val(),
            "sum": $("#sumA").val(),
            "status": ($("#statusA").val() === 'Signed' ? "SIGNED_BY_CUSTOMER" : "UNSIGNED"),
            "companyId": $("#companyIdA").val(),
            "customerId": $("#customerIdA").val(),
            "productId": $("#productIdA").val()
        }

        $.ajax(
            {
                url: "/contractRest/newContract",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(newContractData),
                success: function (response) {

                    if (response.status === 'FAIL') {
                        var allErrors = response.errorMessageList;
                        for (i = 0; i < allErrors.length; i++) {
                            var currFieldName = allErrors[i].fieldName;
                            var currErrorMessage = allErrors[i].message;
                            $('#'+currFieldName).parent().addClass('has-error');
                            $('#'+currFieldName+'Error').text(currErrorMessage);
                            $('#'+currFieldName+'Error').show();
                        }
                    } else {
                        $('#modalContract').modal('hide');
                        $('#alertMessage').text('New contract was added successful');
                        $('#modalAlert').modal('show');
                    }
                },

                error: function (exception) {
                    alert('Error: ' + exception);

                }
            }
        )
    });
    
    function clearErrors() {
        $('#issueDate').focus(function () {
            $('#issueDate').parent().removeClass('has-error');
            $('#issueDateError').hide();
        })
        $('#expireDate').focus(function () {
            $('#expireDateError').hide();
            $('#expireDate').parent().removeClass('has-error');
        })
    }

</script>

</html>