<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Panel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/admin.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="main_wrapper">
    <form th:action="@{/logout}" method="post" class="logout_form">
        <img src="/img/endava-logo.png"/>
        <div class="logout_btn_wrap">
            <input class="btn btn-danger" type="submit" value="Logout"/>
            <div class="time-date">
                <p th:text="${#dates.format(#dates.createNow(), 'dd MMMMMMMMM yyyy')}"></p>
            </div>
        </div>
    </form>
    <div class="body_wrapper">
        <div class="menu_wrapper">
            <button class="tablink tablink_active" onclick="openPage('users', this)">Users</button>
            <button id="service_btn_req" class="tablink" onclick="openPage('services', this)">Services</button>
        </div>
        <div class="info_wrapper">
            <div id="users" class="tabcontent tabcontent_active">
                <table class="table table-striped">
                    <th>Role</th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.role}"></td>
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.userStatus}"></td>
                        <td th:switch="${user.userStatus}">
                            <a th:case="${user.userStatus.INACTIVE}"
                               th:href="@{admin/status?(username=${user.username})}" class="btn btn_activate">ACTIVATE</a>
                            <a th:case="${user.userStatus.ACTIVE}"
                               th:href="@{admin/status?(username=${user.username})}" class="btn btn_deactivate">DEACTIVATE</a>
                        </td>
                        <td class="change_pass_btn">
                            <button type="button" class="btn" data-toggle="modal" data-target="#modalPassword" th:value="${user.username}">Change Password</button>
                        </td>
                    </tr>
                </table>
            </div>

            <div id="services" class="tabcontent">
                <table id="table-services" class="table table-striped">
                    <thead>
                    <th>Name</th>
                    <th>Description</th>
                    <th class="new_product_btn">
                        <button style="background-color: #319e5c" type="button" class="btn btn_add_product" data-toggle="modal" data-target="#modalService" title="Add service">
                            <span style="color: white" class="glyphicon glyphicon-plus"></span>
                        </button>
                    </th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalPassword" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Set new Password</h4>
                </div>
                <form>
                    <div class="modal-body">
                        <label>User</label>
                        <p id="new_pass_username"></p>
                        <label>Password</label>
                        <input id="new_pass_input" type="password" class="form-control"/>
                        <label>Confirm Password</label>
                        <input id="new_pass_input_confirm" type="password" class="form-control"/>
                        <p class="error_pass_match" style="color: red"></p>
                    </div>
                    <div class="modal-footer modal_btn">
                        <button type="button" style="display: none;" class="btn"></button>
                        <button id="save_btn" type="button" class="btn btn-success">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div class="modal fade" id="modalService" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create new Service</h4>
                </div>
                <form>
                    <div class="modal-body modal_body_service">
                        <input id="new_product_id" type="text" hidden="hidden"/>
                        <label>Product name</label>
                        <input id="new_product_name" type="text"/>
                        <label>Description</label>
                        <textarea id="new_product_desc"></textarea>
                    </div>
                    <div class="modal-footer modal_btn">
                        <button type="button" style="display: none;" class="btn"></button>
                        <button id="save_btn_product" type="button" class="btn btn-success">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script>
    function openPage(pageName,elmnt) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].classList.remove("tablink_active");
        }
        document.getElementById(pageName).style.display = "block";
        elmnt.classList.add("tablink_active");
    }
    $("#service_btn_req").click(function () {
        $.ajax({url: "/admin/services",
            success: function(result){
                $("#table-services tbody").html("");
                $.each(result, function (id, object) {
                    var ID = object.id;
                    $("#table-services tbody").append('<tr id="row' + ID + '" class="user_rows"></tr>');
                    $.each(object, function (key, value) {
                        if (key!="id"){
                            $("#table-services tr[id="+ "row" + ID + "]").append('<td id="'+ key + ID +'">' + value + '</td>');
                        }
                    });
                    $("#table-services tr[id="+ "row" + ID + "]").append('<td>' +
                        '<span id="'+ ID + '" class="glyphicon glyphicon-pencil edit_product_pencil" data-toggle="modal" data-target="#modalService" onclick="editProduct(this)"></span>' +
                        '<span id="'+ ID + '" class="glyphicon glyphicon-trash delete_product_pencil" onclick="deleteProduct(this)"></span>' +
                        '</td>');
                });
            }});
    });
    function editProduct(obj) {
        $("#new_product_id").val(obj.id);
        $("#new_product_name").val($("#name" + obj.id).text());
        $("#new_product_desc").val($("#description" + obj.id).text());
    }
    function deleteProduct(obj) {
        $.ajax(
            {
                url: "admin/deleteProduct/" + obj.id,
                type: "DELETE",
                success: function () {
                    $("#service_btn_req").click();
                }
            }
        )
    }
    $(".change_pass_btn button").click(function () {
        $("#new_pass_username").text(this.value);
        $("#new_pass_input").val("");
    });
    $("#save_btn").click(function () {
        if (passwordMatches($("#new_pass_input").val(), $("#new_pass_input_confirm").val())){
            $(".error_pass_match").val("");
            var object = {
                "username" : $("#new_pass_username").text(),
                "password" : $("#new_pass_input").val(),
                "confirmPassword" : $("#new_pass_input_confirm").val()
            }
            $.ajax(
                {
                    url: "/admin/newUserPassword",
                    type: "PUT",
                    contentType: "application/json",
                    data: JSON.stringify(object),
                    success: function () {
                        $("#modalPassword").modal("hide");
                    }
                }
            );
        } else {
            $(".error_pass_match").text("Passwords don't match.");
        }
    });
    $(".new_product_btn button").click(function () {
        $("#new_product_name").val("");
        $("#new_product_desc").val("");
    });
    $("#save_btn_product").click(function () {
        var object = {
            "id" : $("#new_product_id").val(),
            "name" : $("#new_product_name").val(),
            "description" : $("#new_product_desc").val()
        }
        $.ajax(
            {
                url: "/admin/newProduct",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(object),
                success: function () {
                    $("#modalService").modal("hide");
                    $("#service_btn_req").click();
                }
            }
        );
    });
    function passwordMatches(pass1, pass2){
        if (pass1 == pass2) return true;
        else return false;
    }
</script>

</body>
</html>