<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Panel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/table-filter.css" />
    <link rel="stylesheet" type="text/css" href="/css/admin.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/table-filter.js"></script>
</head>
<body>
<div class="main_wrapper">
    <form th:action="@{/logout}" method="post" class="logout_form">
        <img src="/img/endava-logo.png"/>
        <div class="logout_btn_wrap">
            <input class="btn btn-danger" type="submit" value="Logout"/>
            <div class="time-date">
                <p th:text="${#dates.format(#dates.createNow(), 'dd MMMMMMMMM yyyy')}"></p>
            </div>
        </div>
    </form>
    <div class="body_wrapper">
        <div class="menu_wrapper">
            <button class="tablink tablink_active" onclick="openPage('users', this)">Users</button>
            <button id="categories_btn_req" class="tablink" onclick="openPage('categories', this)">Service Categories</button>
            <button id="messages_btn_req" class="tablink" onclick="openPage('messages', this)">Messages
                <button id="messages_read_all_req" class="tablink sub_tablink" onclick="activateLink(this)">All</button>
                <button id="messages_read_req" class="tablink sub_tablink" onclick="activateLink(this)">Read</button>
                <button id="messages_unread_req" class="tablink sub_tablink" onclick="activateLink(this)">Unread</button>
            </button>
        </div>
        <div class="info_wrapper">
            <div id="users" class="tabcontent tabcontent_active">
                <div class="filterable" style="margin-top: 0;">
                    <table class="table table-striped">
                        <thead>
                        <tr class="filters">
                            <th>
                                <select class="sel_roles" disabled>
                                    <option selected value="Roles">Roles</option>
                                    <option>COMPANY</option>
                                    <option>CUSTOMER</option>
                                    <option>ADMIN</option>
                                </select>
                            </th>
                            <th><input type="text" class="form-control" placeholder="Name" disabled></th>
                            <th><input type="text" class="form-control" placeholder="Username" disabled></th>
                            <th><input type="text" class="form-control" placeholder="Email" disabled></th>
                            <th>
                                <select class="sel_status" disabled>
                                    <option selected value="Status">Status</option>
                                    <option>ACTIVE</option>
                                    <option>INACTIVE</option>
                                </select>
                            </th>
                            <th></th>
                            <th>
                                <div class="pull-right">
                                    <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter
                                    </button>
                                </div>
                            </th>
                        </tr>

                        </thead>
                        <tbody class="filter_body">
                        <tr th:each="user : ${users}">
                            <td class="filter_role" th:text="${user.role}" valign="center"></td>
                            <td th:text="${user.name}" valign="center"></td>
                            <td th:text="${user.username}" valign="center"></td>
                            <td th:text="${user.email}" valign="center"></td>
                            <td class="filter_status" th:switch="${user.userStatus}" valign="center">
                                <span th:case="${user.userStatus.ACTIVE}" style="color: #78ab46;"> ACTIVE </span>
                                <span th:case="${user.userStatus.INACTIVE}" style="color: #FF1C19;"> INACTIVE </span>
                            </td>
                            <td th:switch="${user.userStatus}">
                                <a th:case="${user.userStatus.INACTIVE}"
                                   th:href="@{admin/status?(username=${user.username})}" class="btn-status-change btn_activate">ACTIVATE</a>
                                <a th:case="${user.userStatus.ACTIVE}"
                                   th:href="@{admin/status?(username=${user.username})}" class="btn-status-change btn_deactivate">DEACTIVATE</a>
                            </td>
                            <td class="change_pass_btn">
                                <a class="btn-pass-reset" th:value="${user.username}">Reset Password</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="categories" class="tabcontent">
                <table id="table-categories" class="table table-striped">
                    <thead>
                    <th>Name</th>
                    <th>Description</th>
                    <th class="new_category_btn">
                        <button style="background-color: #319e5c" type="button" class="btn btn_add_category" data-toggle="modal"
                                data-target="#modalCategory" title="Add category">
                            <span style="color: white" class="glyphicon glyphicon-plus"></span>
                        </button>
                    </th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div id="messages" class="tabcontent">
                <table id="table-messages" class="table">
                    <thead>
                    <th></th>
                    <th>Email</th>
                    <th>Subject</th>
                    <th>Date</th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalPassword" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Set new Password</h4>
                </div>
                <form>
                    <div class="modal-body">
                        <label>User</label>
                        <p id="new_pass_username"></p>
                        <label>Password</label>
                        <input id="new_pass_input" type="password" class="form-control"/>
                        <label>Confirm Password</label>
                        <input id="new_pass_input_confirm" type="password" class="form-control"/>
                        <p class="error_pass_match" style="color: red"></p>
                    </div>
                    <div class="modal-footer modal_btn">
                        <button type="button" style="display: none;" class="btn"></button>
                        <button id="save_btn" type="button" class="btn btn-success">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div class="modal fade" id="modalCategory" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create new Category</h4>
                </div>
                <form>
                    <div class="modal-body modal_body_category">
                        <input id="new_category_id" type="text" hidden="hidden"/>
                        <label>Category name</label>
                        <input id="new_category_name" type="text"/>
                        <label>Description</label>
                        <input id="new_category_desc" type="text"/>
                        <p id="error_category" style="color: #FF1C19"></p>
                    </div>
                    <div class="modal-footer modal_btn">
                        <button type="button" style="display: none;" class="btn"></button>
                        <button id="save_btn_category" type="button" class="btn btn-success">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalDeleteConfirm" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Are you sure?</h4>
                    <input id="delete_category_id" type="text" hidden="hidden"/>
                </div>
                <div class="modal-footer modal_btn">
                    <button type="button" style="display: none;" class="btn"></button>
                    <button id="delete_btn_confirm" type="button" class="btn btn-danger" data-delete-info="">Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/admin.js"></script>
</body>
</html>