<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ADD login page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/header.css"  />
    <link rel="stylesheet" type="text/css" href="/css/default.css"  />
</head>

<body>
<div th:replace="fragments/header :: header">
</div>

<div class="main_wrapper">
    <div style="display: flex; flex-direction: column;" class="wrapper">
        <div class="reset_password_body">
            <form>
                <div class="modal_body_custom">
                    <label>Email</label>
                    <input id="new_message_email" type="text"
                           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" title="Email is invalid" th:value="${user}" disabled required/>
                    <label>Subject</label>
                    <input id="new_message_subject" type="text" placeholder="Subject.." required/>
                    <label>Message</label>
                    <textarea maxlength="250" placeholder="Your message.." id="new_message" required></textarea>
                </div>
                <div class="modal-footer modal_btn">
                    <!--<button type="button" style="display: none;" class="btn"></button>-->
                    <button id="save_btn_message" type="submit" class="btn btn-success">Send</button>
                    <a id="home_btn" th:href="@{/login}"
                       class="btn btn-default" role="button">Back Home</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/js/loadbalance.js"></script>
<script>
    $("#save_btn_message").click(function () {
        if ($("#new_message").val() != "" && $("#new_message_subject").val() != ""){
            var message = {
                "message" : $("#new_message").val(),
                "user_email" : $("#new_message_email").val(),
                "subject" : $("#new_message_subject").val()
            }
            $.ajax(
                {
                    url: "/message/send",
                    type: "post",
                    contentType: "application/json",
                    data: JSON.stringify(message),
                    success: function () {
                        window.open($("#home_btn").attr("href"), "_blank");
                    }
                }
            )
        }
    });
</script>
</body>
</html>