<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ADD login page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/default.css"  />
</head>

<body>
<div class="main_wrapper">
    <div style="display: flex; flex-direction: column;" class="wrapper">
        <div class="reset_password_body">
            <label>Password</label>
            <input id="new_pass_input" type="password" class="form-control"/>
            <label>Confirm Password</label>
            <input id="new_pass_input_confirm" type="password" class="form-control"/>
            <p class="error_pass_match" style="color: red"></p>
            <button class="btn btn-success">SAVE</button>
        </div>
    </div>
</div>
<script>
    var passwordPattern =  new RegExp('^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=])(?=\\S+$).{8,}$');
    $(".btn").click(function () {
        if ($("#new_pass_input").val()==""){
         $(".error_pass_match").text("Passwords can't be empty.");
     } else if (!passwordPattern.test($("#new_pass_input").val())){
         $(".error_pass_match").text("Password must contain : at least 1 upper case letter," +
             " 1 lower case letter," +
             " 1 special character," +
             " 1 number");
     } else if (passwordMatches($("#new_pass_input").val(), $("#new_pass_input_confirm").val())){
         $(".error_pass_match").val("");
            var url = new URL(window.location.href);
            var object = {
                "username": url.searchParams.get("username"),
                "password" : $("#new_pass_input").val()
            }
            $.ajax(
                {
                    url: "/newUserPassword",
                    type: "PUT",
                    contentType: "application/json",
                    data: JSON.stringify(object),
                    success: function () {
                        location.href = "http://localhost:8080/login";
                    }
                }
            )
        } else {
             $(".error_pass_match").text("Passwords don't match.");
         }
    });

     function passwordMatches(pass1, pass2){
         if (pass1 == pass2) return true;
         else return false;
     }
</script>
</body>
</html>