<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Reset password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/default.css"  />
</head>

<body>
<div class="main_wrapper">
    <div style="display: flex; flex-direction: column;" class="wrapper">
        <div class="reset_password_body">
            <label>Password</label>
            <input id="new_pass_input" type="password" class="form-control"/>
            <label>Confirm Password</label>
            <input id="new_pass_input_confirm" type="password" class="form-control"/>
            <p class="error_pass_match" style="color: red"></p>
            <button class="btn btn-success">SAVE</button>
        </div>
    </div>
</div>
<script src="/js/show-pass.js"></script>
</body>
</html>