<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/loadbalance.js"></script>
</head>


<div th:replace="fragments/header :: header">
</div>

<body>

<div class="container">

    <h2 th:text="'Welcome, '+${companyName}+' !'"></h2>

    <div class="panel panel-default">
        <div class="panel-heading">Contracts</div>
        <div class="panel-body">
            <form th:action="@{/company/contracts/filtered}"
                  th:object="${filterActiveContracts}" method="post" class="input-group pull-left">
                <input type="hidden" th:field="*{contractStatus}">
                <button type="submit" class="btn btn-primary"> Active
                    <span class="badge" th:text="${activeContracts}"></span>
                </button>
            </form>
            <form th:action="@{/company/contracts/filtered}"
                  th:object="${filterSignedContracts}" method="post" class="input-group pull-left">
                <input type="hidden" th:field="*{contractStatus}">
                <button type="submit" class="btn btn-info"> Signed only by you
                    <span class="badge" th:text="${signedContracts}"></span>
                </button>
            </form>
            <form th:action="@{/company/contracts/filtered}"
                  th:object="${filterUnsignedContracts}" method="post" class="input-group pull-left">
                <input type="hidden" th:field="*{contractStatus}">
                <button type="submit" class="btn"> Unsigned
                    <span class="badge" th:text="${unsignedContracts}"></span>
                </button>
            </form>
        </div>
    </div>

</div>
<script src="/js/loadbalance.js"></script>
</body>

</html>