<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

    <title>Invoices</title>
</head>
<body>

<div> Here we have invoices </div>

<table border="1">
    <tr>
        <th>Id_Invoice</th>
        <th>Issue Date</th>
        <th>Expire Date</th>
        <th>SUM</th>
        <th>Contract_Id</th>
    </tr>
    <tr th:each="var: ${invoices}">
        <td th:text="${var.getId()} ? ${var.getId()} : 'null value'"></td>
        <td th:text="${var.getIssueDate()} ? ${var.getDueDate()} : 'null value'"></td>
        <td th:text="${var.getDueDate()} ? ${var.getDueDate()} : 'null value'"></td>
        <td th:text="${var.getSum()} ? ${var.getSum()} : 'null value'"></td>
        <td th:text="${var.getContract().getId()} ? ${var.getContract().getId()} : 'null value'"></td>
    </tr>
</table>

</body>
</html>