<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Invoices</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<p> Here we have invoices </p>

<div class="container">
    <table class="table table-hover">
        <tr>
            <th>Id_Invoice</th>
            <th>Issue Date</th>
            <th>Expire Date</th>
            <th>SUM</th>
            <th>Status</th>
            <th>Contract_Id</th>
            <th>Customer Name</th>
            <th>Delete Invoice</th>
        </tr>
        <tr th:each="invoice: ${invoices}">
            <td th:text="${invoice.getId()} ? ${invoice.getId()} : 'null value'"></td>
            <td th:text="${invoice.getIssueDate()} ? ${invoice.getDueDate()} : 'null value'"></td>
            <td th:text="${invoice.getDueDate()} ? ${invoice.getDueDate()} : 'null value'"></td>
            <td th:text="${invoice.getSum()} ? ${invoice.getSum()} : 'null value'"></td>
            <td th:text="${invoice.getStatus()} ? ${invoice.getStatus()} : 'null value'"></td>
            <td th:text="${invoice.getContract().getId()} ? ${invoice.getContract().getId()} : 'null value'"></td>
            <td th:text="${invoice.getContract().getCustomer().getFullName()} ? ${invoice.getContract().getCustomer().getFullName()} : 'null value'"></td>
            <td>
                <a th:href="@{/invoice/deleteInvoice?(id=${invoice.id})}" class="btn">DELETE</a>
            </td>
        </tr>
    </table>
</div>
<br>
<a href="/invoice/createNew" class="btn btn-danger">Create New</a>

</body>
</html>