<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>ADD Power application</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/header.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="header_wrapper" th:fragment="header">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img src="/img/endava-logo.png"/></a>
            </div>
            <ul class="nav navbar-nav" sec:authorize="hasAuthority('CUSTOMER')">
                <li><a th:href="@{/customer/home}" class="menu_item"> Home </a></li>
                <li><a th:href="@{/customer/services}" class="menu_item customer_services"> Services </a></li>
                <li><a th:href="@{/customer/contracts}" class="menu_item"> Contracts </a></li>
                <li><a th:href="@{/customer/invoices}" class="menu_item"> Invoices </a></li>
                <li><a th:href="@{/customer/bank}" class="menu_item"> Bank operations </a></li>
            </ul>
            <ul class="nav navbar-nav" sec:authorize="hasAuthority('COMPANY')">
                <li><a th:href="@{/company/home}" class="menu_item"> Home </a></li>
                <li><a th:href="@{/company/services}" class="menu_item company_services"> Services </a></li>
                <li><a th:href="@{/company/contracts}" class="menu_item"> Contracts </a></li>
                <li><a th:href="@{/company/invoices}" class="menu_item"> Invoices </a></li>
                <li><a th:href="@{/company/bank}" class="menu_item"> Bank operations </a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" sec:authorize="hasAuthority('CUSTOMER')">
                <li><a th:href="@{/contact/admin}" class="menu_item"> Contact Admin </a></li>
                <li><a th:href="@{/customer/profile}" class="menu_item"> Personal cabinet </a></li>
                <li><a th:href="@{/logout}" class="menu_item"> LOGOUT </a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" sec:authorize="hasAuthority('COMPANY')">
                <li><a th:href="@{/contact/admin}" class="menu_item"> Contact Admin </a></li>
                <li><a th:href="@{/company/profile}" class="menu_item"> Personal cabinet </a></li>
                <li><a th:href="@{/logout}" class="menu_item"> LOGOUT </a></li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>