<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>ADD Power application</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/notification.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="header_wrapper" th:fragment="header">
        <div class="menu_left">
            <div class="logo_wrapper">
                <!--<a class="logo" href="#"><img src="/img/endava-loo.png"/></a>-->
            </div>
            <ul class="menu" sec:authorize="hasAuthority('CUSTOMER')">
                <li><a th:href="@{/customer/home}" class="menu_item "><i class="fas fa-home"></i> <span>Home</span> </a></li>
                <li><a th:href="@{/customer/services}" class="menu_item customer_services"><i class="fas fa-tag"></i><span>Services</span> </a></li>
                <li><a th:href="@{/customer/contracts}" class="menu_item active_menu_link"><i class="fas fa-handshake"></i><span>Contracts</span></a></li>
                <li><a th:href="@{/customer/invoices}" class="menu_item"><i class="fas fa-receipt"></i><span>Invoices</span></a></li>
                <li><a th:href="@{/customer/bank}" class="menu_item"><i class="fas fa-money-check-alt"></i><span>Bank operations</span></a></li>
            </ul>
            <ul class="menu" sec:authorize="hasAuthority('COMPANY')">
                <li><a th:href="@{/company/home}" class="menu_item"> Home </a></li>
                <li><a th:href="@{/company/services}" class="menu_item company_services"> Services </a></li>
                <li><a th:href="@{/company/contracts}" class="menu_item"> Contracts </a></li>
                <li><a th:href="@{/company/invoices}" class="menu_item"> Invoices </a></li>
                <li><a th:href="@{/company/bank}" class="menu_item"> Bank operations </a></li>
            </ul>
        </div>
        <div class="menu_right">
            <ul class="menu" sec:authorize="hasAuthority('CUSTOMER')">
                <li>
                    <span id="cus">Hello, <span sec:authentication="name" id="user"></span> Balance: <span class="balance"></span><span id="mdl">MDL</span></span>
                </li>
                <li>
                    <div class="notification_wrapper">
                        <div class="notification">
                            <div id="not_icon" class="notification_icon">
                                <span id="not_count" value="0"></span>
                            </div>
                            <div class="notification_link">
                                <a id="show_not_link_down">Messages <i class="fas fa-angle-down"></i>
                                </a>
                                <div class="notification_body">
                                    <div id="notification_">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a th:href="@{/contact/admin}" class="menu_item"> Contact Admin </a></li>
                <li><a th:href="@{/customer/profile}" class="menu_item"> Personal cabinet </a></li>
                <li><a th:href="@{/logout}" class="menu_item"> LOGOUT </a></li>
            </ul>
            <ul class="menu" sec:authorize="hasAuthority('COMPANY')">
                <li>
                    <span>Hello, <span sec:authentication="name" id="user"></span> Balance: <span class="balance"></span><span id="mdl">MDL</span></span>
                </li>
                <li>
                    <div class="notification_wrapper">
                        <div class="notification">
                            <div id="not_icon" class="notification_icon">
                                <span id="not_count" value="0"></span>
                            </div>
                            <div class="notification_link">
                                <a id="show_not_link_down">Messages <i class="fas fa-angle-down"></i>
                                </a>
                                <div class="notification_body">
                                    <div id="notification_">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a th:href="@{/contact/admin}" class="menu_item"> Contact Admin </a></li>
                <li><a th:href="@{/company/profile}" class="menu_item"> Personal cabinet </a></li>
                <li><a th:href="@{/logout}" class="menu_item"> LOGOUT </a></li>
            </ul>
        </div>
</div>
</body>
</html>