<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>ADD Power application</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <link rel="shortcut icon" th:href="@{/img/endava-logo.ico}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="header_wrapper" th:fragment="header">
        <div class="menu_left">
            <div class="logo_wrapper">
                <a class="logo" href="#"><img src="/img/endava-logo.ico"/></a>
            </div>
            <ul class="menu" sec:authorize="hasAuthority('CUSTOMER')">
                <li><a th:href="@{/customer/home}" class="menu_item i_home"><div class="menu_icon"><i class="fas fa-home"></i></div> <span>HOME</span> </a></li>
                <li><a th:href="@{/customer/services}" class="menu_item i_services"><div class="menu_icon"><i class="fas fa-tag"></i></div><span>SERVICES</span> </a></li>
                <li><a th:href="@{/customer/contracts}" class="menu_item i_contracts"><div class="menu_icon"><i class="fas fa-handshake"></i></div><span>CONTRACTS</span></a></li>
                <li><a th:href="@{/customer/invoices}" class="menu_item i_invoices"><div class="menu_icon "><i class="fas fa-receipt"></i></div><span>INVOICES</span></a></li>
                <li><a th:href="@{/customer/bank}" class="menu_item i_bank"><div class="menu_icon "><i class="fas fa-money-check-alt"></i></div><span>BANK OPERATIONS</span></a></li>
            </ul>
            <ul class="menu" sec:authorize="hasAuthority('COMPANY')">
                <li><a th:href="@{/company/home}" class="menu_item i_home"><div class="menu_icon"><i class="fas fa-home"></i></div> <span>HOME</span></a></li>
                <li><a th:href="@{/company/services}" class="menu_item company_services i_services"><div class="menu_icon"><i class="fas fa-tag"></i></div><span>SERVICES</span></a></li>
                <li><a th:href="@{/company/contracts}" class="menu_item i_contracts"><div class="menu_icon"><i class="fas fa-handshake"></i></div><span>CONTRACTS</span></a></li>
                <li><a th:href="@{/company/invoices}" class="menu_item i_invoices"><div class="menu_icon"><i class="fas fa-receipt"></i></div><span>INVOICES</span></a></a></li>
                <li><a th:href="@{/company/bank}" class="menu_item i_bank"><div class="menu_icon"><i class="fas fa-money-check-alt"></i></div><span>BANK OPERATIONS</span></a></li>
            </ul>
        </div>
        <div class="menu_right">
            <ul class="menu" sec:authorize="hasAuthority('CUSTOMER')">
                <li>
                    <span class="greeting">Hello, 	&nbsp;<span id="user"></span>
                        <span class="balance_header">
                            Balance: <span class="balance"></span><span id="mdl">MDL</span>
                        </span>
                    </span>
                </li>
                <li>
                    <div class="notification_wrapper">
                        <div class="notification">
                            <div class="notification_link">
                                <a id="show_not_link_down" class="notification_icon_chat" value="0">
                                </a>
                                <div class="notification_body">
                                    <div id="notification_">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a th:href="@{/contact/admin}" class="menu_item i_contact_admin"><span>CONTACT ADMIN</span><div class="menu_icon menu_icon_right"><i class="fas fa-paper-plane"></i></div> </a></li>
                <li><a th:href="@{/customer/profile}" class="menu_item i_personal_cabinet"><span>PERSONAL CABINET</span><div class="menu_icon menu_icon_right"><i class="fas fa-user-circle"></i></div></a></li>
                <li><a th:href="@{/logout}" class="menu_item"><span>LOGOUT</span><div class="menu_icon menu_icon_right"><i class="fas fa-sign-out-alt"></i></div></a></li>
            </ul>
            <ul class="menu" sec:authorize="hasAuthority('COMPANY')">
                <li>
                    <span class="greeting">Hello, 	&nbsp;<span id="user"></span>
                        <span class="balance_header">
                            Balance: <span class="balance"></span><span id="mdl">MDL</span>
                        </span>
                    </span>
                </li>
                <li>
                    <div class="notification_wrapper">
                        <div class="notification">
                            <div class="notification_link">
                                <a id="show_not_link_down" class="notification_icon_chat">
                                </a>
                                <div class="notification_body">
                                    <div id="notification_">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a th:href="@{/contact/admin}" class="menu_item i_contact_admin"><span>CONTACT ADMIN</span><div class="menu_icon menu_icon_right"><i class="fas fa-paper-plane"></i></div> </a></li>
                <li><a th:href="@{/company/profile}" class="menu_item i_personal_cabinet"><span>PERSONAL CABINET</span><div class="menu_icon menu_icon_right"><i class="fas fa-user-circle"></i></div></a></li>
                <li><a th:href="@{/logout}" class="menu_item"><span>LOGOUT</span><div class="menu_icon menu_icon_right"><i class="fas fa-sign-out-alt"></i></div></a></li>
            </ul>
        </div>
    <div class="modal fade" id="load_icon_wrapper" data-backdrop="static" data-keyboard="false">
        <img id="load" src="/img/load_icon.gif"/>
    </div>
</div>
</body>
</html>