<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Customer contracts list</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css"/>
    <link rel="stylesheet" href="/css/table-filter.css">
    <link rel="stylesheet" href="/css/alert.css">
    <link rel="stylesheet" type="text/css" href="/css/notification.css"/>
    <script src="/webjars/jquery/3.1.0/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/1.0.2/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
    <script src="/js/table-filter.js"></script>
</head>

<body>
<div th:replace="fragments/header :: header"></div>
<div class="modal fade" id="load_icon_wrapper" data-backdrop="static" data-keyboard="false">
    <img id="load" src="/img/load_icon.gif"/>
</div>

<div class="wrapper">
    <div class="notifications_wrapper" th:each="notification:${notifications}">
        <div class="notification">

        </div>
    </div>
</div>

<div id="alert_success" class="alert alert-success alert-dismissible fade in">
    <div id="approval_info">
        <strong id="confirm_alert_message"></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<div id="alert_error" class="alert alert-danger alert-dismissible fade in">
    <div id="alert_error_info">
        <strong id="error_alert_message"></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<script src="/js/loadbalance.js"></script>
<script src="/js/user-websock.js"></script>
<script src="/js/customer-sock-distribute.js"></script>
<script src="/js/invoice-payment.js"></script>
</body>
</html>