.container {
    width:100%;
    display: flex;
    justify-content: center;
}
.account_info{
    font-size: 15px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.add_money > form{
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 35%;
}