body {
    margin: 0 auto;
}
.container {
    background-color: #f2f2f2;
    padding: 0;
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction:column;
}
.page_title {
    display: flex;
    flex-direction:column;
    padding: 15px 100px;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    color: #777;
}
.p_title > span {
    display: flex;
    justify-content: flex-start;
    font-size: 16pt;
    font-weight: 600;
}
.page_description > span {
    display: flex;
    justify-content: flex-start;
    font-size: 10pt;
}
.body_wrapper{
    padding: 30px 0;
    display: flex;
    justify-content: center;
}
.body_content {
    display: flex;
    justify-content: center;
    width: 50%;
}
.account_info{
    display: flex;
    justify-content: space-around;
    width: 75%;
    border: 1px solid #cccccc;
    border-radius: 4px;
    border-left: 2px solid red;
    padding: 10px 0 10px 0;
}
.account_info_user > span {
    font-weight: bold;
    font-size: 16px;
}
.additional_info{
    color: #888;
    font-size: 12px;
}
.main_info {
    font-size: 14px;
    color: #555;
}
.account_info_balance {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%
}
.account_info_balance > div,  .account_info_balance > span {
    display: flex;
    justify-content: center;
}
.btn_add_money_wrapper {
    display: flex;
    justify-content: center;
}
.btn_add_money_toggle {
    width: 35%;
    padding: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: all .3s;
}
.btn_add_money_toggle:hover {
    border-color: #0e647d;
}
.balance_info {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}
.currency {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    color: #333;
    margin-left: 7px;
}
.btn_add_money {
    background-color: #26bda4;
    border: 1px solid #26bda4;
    padding: 5px 12px;
    border-radius: 12px;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    color: #eee;
    transition: all .3s;
}
.btn_add_money:hover {
    background-color: #26c195;
}
.add_money{
    display: block;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 5px;
}
.add_money > div > input {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding-left: 5px;
}
.add_money > div {
    display: flex;
    justify-content: space-around;
}
.btn-success {
    padding: 4px;
}
.inactive {
    display: none;
}
.statement_wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0;
}
.statement_link_updown { 
    display: flex;
    justify-content: center;
}
.statement_date_picker {
    display: flex;
    justify-content: center;
    width: 50%;
}
.statement_date_picker_wrapper {
    display: flex;
    justify-content: space-around;
    width: 50%;
}
#btn_statement_req {
    padding: 5px 12px;
    background-color: rgba(249, 185, 85,1);
    border: 1px solid #ccc;
    border-radius: 12px;
    transition: all .3s;
    font-size: 9pt;
    font-weight: 600;
    color: #fff;
}
#btn_statement_req:hover {
    border-color: #f4a641;
    background-color: rgba(244, 156, 19,1);
}
.statement_body {
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
}

.table_wrapper {
    width: 50%;
    display: flex;
    justify-content: center;
}
.table_statement {
    width: 75%;
}
.income {
    color: green;
    font-weight: bold;
}
.loss {
    color: red;
    font-weight: bold;
}
.alert {
    position: absolute;
    display: none;
    top: 35px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 9999;
}
#load_icon_wrapper{
    z-index: 9998;
}
#load {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 75px;
    height: 75px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}