body {
    margin: 0 auto;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    margin: 0;
    padding: 0;
}
.header_wrapper {
    font-family: "Helvetica Neue", sans-serif;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to bottom, #5fd132, #51bf26);
}
.menu_left {
    display: flex;
}
.menu {
    display: flex;
    height: 100%;
}
.logo_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu {
    display: flex;
}
.menu > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
i {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu_item {
    display: flex;
    color: rgba(255,255,255,0.5);
    padding: 30px 10px;
}
.menu_item > span {
    margin-left: 8px;
}

.active_menu_link {
    color: #fff;
}
.active_menu_link::after {
    display: block;
    font-size: 20px;
    content: '\25b2';
    position: absolute;
    bottom: -20%;
    left: 50%;
}