body {
    margin: 0 auto;
}
.wrapper {
    background-color: #f2f2f2;
    height:100vh;
    display: flex;
    flex-direction:column;
}
.page_title {
    display: flex;
    flex-direction:column;
    padding: 15px 100px;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    color: #777;
}
.title > span {
    font-size: 16pt;
    font-weight: 600;
}
.description > span {
    font-size: 10pt;
}
.content_wrapper {
    display: flex;
    height: 100vh;
    padding: 50px 80px;
}
/*FILTER*/
.filter_wrapper {
    display: flex;
    flex-direction:column;
    width: 18%;
    padding: 0 20px;
}
.filter_title {
    display: flex;
    justify-content: space-between;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    color: #555;
    padding: 0 0 25px 0;
    border-bottom: 1px solid rgba(77, 196, 138, 0.5);
}
.default_btn {
    font-size: 10.4pt;
    cursor: pointer;
    font-weight: 400;
    color: #aaa;
}
.default_btn:hover {
    cursor: pointer;
    color: #888;
    text-decoration: none;
    transform: scale(1.04);
}
.filter_content {
    border-bottom: 1px solid rgba(77, 196, 138, 0.5);
}
.filter_form_range_sum {
    display: flex;
}
.sum_input {
    display: flex;
    flex-direction:column;
}
.filter_form_range_date {
    display: flex;
    flex-direction:column;
}
.date_input {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.filter_item {
    margin: 30px 0;
}
.filter_item > label, .sum_input > label, .date_input > label {
    color: #555;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 11pt;
}
.input-br-head {
    padding: 8px;
}
/*BUTTONS*/
.btn_apply {
    display: flex;
    justify-content:center;
    font-size: 10pt;
    padding: 5px 25px;
    background-color: rgba(77, 196, 138, 0.5);
    border: 1px solid rgba(77, 196, 138, 0.5);
    border-radius: 25px;
    color: #555;
}
.btn_icon_right  {
    margin-left: 3px;
}
.btn_icon_left  {
    margin-right: 3px;
}
.btn_apply:hover {
    background-color: rgba(77, 196, 138, 0.8);
    border: 1px solid rgba(77, 196, 138, 0.8);
}

.btn_pay {
    padding: 5px 20px;
    background-color: rgba(82, 184, 213,0.7);
    border: 1px solid rgba(82, 184, 213,0.7);
    border-radius: 20px;
    color: #285a68;
    font-family: Helvetica, sans-serif;
    font-size: 10.2pt;
    font-weight: bold;
    text-decoration: none;
}
.btn_pay:hover {
    color: #285a68;
    background-color: rgba(82, 184, 213,1);
    border: 1px solid rgba(82, 184, 213,1);
    text-decoration: none;
}
.btn_delete {
    padding: 5px 20px;
    background-color: rgba(217, 83, 79, 0.7);
    border: 1px solid rgba(217, 83, 79, 0.7);
    border-radius: 20px;
    color: #fff;
    font-family: Helvetica, sans-serif;
    font-size: 10.2pt;
    font-weight: bold;
    text-decoration: none;
}
.btn_delete:hover {
    color: #ccc;
    background-color: rgba(217, 83, 79, 1);
    border: 1px solid rgba(217, 83, 79, 1);
    text-decoration: none;
}
/*BULK PAYMENT*/
.bulk_btn_wrapper {
    margin: 15px 0 8px 15px;
}
.bulk_btn_wrapper > span {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}
/*INVOICES--TABLE*/
.sub_label {
    font-size: 8pt;
    color: #aaa;
}
th {
    border: none!important;
}
td {
    border: none!important;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 15px 30px;
    vertical-align: middle;
    font-family: Helvetica, sans-serif;
    font-size: 10.2pt;
    font-weight: bold;
    color: #666;
}
tr:nth-child(even) {background-color: rgba(240, 240, 240, 0.6);}
tbody > tr:hover {
    background-color: rgba(240, 240, 240, 1);
}
th > select{
    font-family: Roboto, sans-serif;
    font-size: 10.2pt;
    color: #888;
}
th > input::placeholder {
    font-family: Roboto, sans-serif;
    font-size: 10.2pt;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #888;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #888;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #888;
}
.filterable {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.2);
    padding: 0;
}
table {
   width: 100%;
    height: 85%;
}
tbody {
    display: block;
    height: 100%;
    overflow: auto;
}
thead, tbody tr {
    display: table;
    table-layout:fixed;
    width: 100%;
}

.checkbox_users_wrapper {
    display: flex;
}
.checkbox_users_wrapper > span {
    margin-left: 5px;
    font-size: 9.5pt;
    display: flex;
    flex-direction:column;
    justify-content:center;
    color: #bbb;
}

/*INVOICES STATUSES*/
.invoice_payed {
    padding: 5px 15px;
    border-radius: 15px;
    background-color: rgba(77, 196, 138, 0.5);
    color: #459178;
}
.invoice_pending {
    padding: 3px 12px;
    border-radius: 15px;
    background-color: rgba(249, 185, 85,0.7);
    color: #c1872c;
}
.invoice_overdue {
    padding: 3px 12px;
    border-radius: 15px;
    background-color: rgba(217, 83, 79, 0.7);
    color: #a3403e;
}
.invoice_issued {
    padding: 3px 12px;
    border-radius: 15px;
    background-color: rgba(188, 215, 242,1);
    color: #5ca7f2;
}