.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
    color: #333;
}
.filters select[disabled] {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: auto;
    padding: 0;
    background-color: transparent;
    cursor: auto;
    box-shadow: none;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}
.filters select {
    border-color: #cccccc;
    border-radius: 4px;
    padding: 7px;
}