<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Customer contracts list</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css"/>
    <link rel="stylesheet" href="/css/table-filter.css">
    <link rel="stylesheet" href="/css/alert.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/table-filter.js"></script>
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="panel panel-primary filterable">
    <div class="panel-heading">
        <h3 class="panel-title">Invoices</h3>
        <div class="pull-right">
            <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter
            </button>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr class="filters">
            <th><input type="text" class="form-control" placeholder="Issue Date" disabled></th>
            <th><input type="text" class="form-control" placeholder="Expire Date" disabled></th>
            <th><input type="text" class="form-control" placeholder="Sum" disabled></th>
            <th><input type="text" class="form-control" placeholder="Status" disabled></th>
            <th><input type="text" class="form-control" placeholder="Contract_id" disabled></th>
            <th><input type="text" class="form-control" placeholder="Full Name" disabled></th>
            <th></th>
        </tr>
        </thead>

        <tr th:each="invoice: ${invoices}" th:id="'row' + ${invoice.getId()}">
            <td id="invoice_date" th:text="${#temporals.format(invoice.getIssueDate(), 'dd-MM-yyyy')} ">Issue Date</td>
            <td th:text="${#temporals.format(invoice.getDueDate(), 'dd-MM-yyyy')}">Expire Date</td>
            <td id="sum_to_pay" th:text="${invoice.getSum()}">Sum</td>
            <td th:text="${invoice.getStatus()}" class="font-weight-bold">Status</td>
            <td th:text="${invoice.getContract().getId()}">Contract_id</td>
            <td th:text="${invoice.getContract().getCustomer().getFullName()}">Full Name</td>
            <td>
                <button th:if="${invoice.status}!=${invoice.status.PAID}" th:id="${invoice.getId()}" class="btn btn-danger" onclick="payInvoice(this)">PAY</button>
            </td>
        </tr>
    </table>
</div>

<form class="col-md-3 input-group pull-right" th:action="@{/invoice/filterByActiveStatus}" method="get">

    <label for="status" class="control-label">Invoice Status</label>
    <select class="form-control" id="status" name="status">
        <option value="">-Select-</option>
        <option value="ISSUED" th:text="ISSUED"></option>
        <option value="SENT" th:text="SENT"></option>
        <option value="PAID" th:text="PAID"></option>
        <option value="ACTIVE" th:text="ACTIVE"></option>
        <option value="IN_PROGRESS" th:text="IN_PROGRESS"></option>
        <option value="OVERDUE" th:text="OVERDUE"></option>
    </select>

    <button type="submit" class="btn pull-right btn-success ">Check</button>

</form>
<div class="alert alert-success alert-dismissible fade in">
    <div id="approval_info">
        <strong id="confirm_alert_message"></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<div class="alert alert-danger alert-dismissible fade in">
    <div id="alert_error_info">
        <strong id="error_alert_message"></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<script src="/js/loadbalance.js"></script>
<script>
    function payInvoice(btn) {
        var object = {
            "correspondentCount" : $(btn).attr("id"),
            "sum" : $("#row" + $(btn).attr("id")).find("#sum_to_pay").text(),
            "description" : "Invoice from " + $("#row" + $(btn).attr("id")).find("#invoice_date").text() + " is paid. "
        };
        $.ajax(
            {
                url: "/bankAccount/payinvoice?bal=" + $(".balance").text(),
                type : "POST",
                contentType: "application/json",
                data: JSON.stringify(object),
                success: function () {
                    $("#confirm_alert_message").text("Invoice paid.");
                    $(".alert-success").slideToggle("slow");
                    setTimeout(function () {
                        $(".alert-success").slideToggle("slow");
                    },5000);
                },
                error : function (response) {
                    $("#error_alert_message").text(response.responseText);
                    $(".alert-danger").slideToggle("slow");
                    setTimeout(function () {
                        $(".alert-danger").slideToggle("slow");
                    },5000);
                }
            }
        )
    }
</script>
</body>
</html>