<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Customer contracts list</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div th:replace="fragments/header :: header">

</div>
<h2 th:text="${customer.getFullName()}+', list of contracts'"></h2>
<a th:href="@{/contract/createContract(companyId=0)}" class="btn btn-info" role="button">Create new contract</a>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Company name</th>
        <th>Issue date</th>
        <th>Expire date</th>
        <th>Sum</th>
        <th>Service</th>
        <th>Status</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contractDto : ${customerContracts}">

        <td th:text="${contractDto.selectedCompany.name}">company name</td>
        <td th:text="${#temporals.format(contractDto.getIssueDate(),'dd MMM yyyy')}">issue date</td>
        <td th:text="${#temporals.format(contractDto.getExpireDate(),'dd MMM yyyy')}">expire date</td>
        <td th:text="${contractDto.sum}">sum</td>
        <td th:text="${contractDto.selectedProduct.name}">service name</td>
        <td th:text="${contractDto.status}"></td>
        <td>
            <a th:href="@{/contract/updateContract(contractId=${contractDto.contractId})}"
               class="btn btn-info">Edit
            </a>
        </td>

    </tr>
    </tbody>
</table>

</div>
</body>
</html>