<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Customer Page</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/header.css"/>
</head>

<body>
<div th:replace="fragments/header :: header">
</div>
<div class="container">

    <h2 th:text="'Welcome, '+${customer.getFullName()}"></h2>
    <div class="list-group">
        <a th:href="@{/customer/products}" class="list-group-item"> Services </a>
        <a th:href="@{/customer/contracts}" class="list-group-item"> Contracts </a>
        <a th:href="@{/customer/invoices}" class="list-group-item"> Invoices </a>
        <a th:href="@{/customer/bank}" class="list-group-item"> Bank operations </a>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>