<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Customer Page</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div th:replace="fragments/header :: header">

</div>
<h2 th:text="${customer.getFullName()}+', list of invoices'"></h2>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Company name</th>
        <th>Issue date</th>
        <th>Due date</th>
        <th>Sum</th>
        <th>Service</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="invoice : ${customerInvoices}">
        <td th:text="${invoice.getContract().getCompany().getName()}">company name</td>
        <td th:text="${#temporals.format(invoice.getIssueDate(),'MM/dd/yyyy HH:mm a')}">issue date</td>
        <td th:text="${#temporals.format(invoice.getDueDate(),'MM/dd/yyyy HH:mm a')}">due date</td>
        <td th:text="${invoice.getSum()}">sum</td>
        <td th:text="${invoice.getContract().getProduct().getName()}">service name</td>
        <td></td>
    </tr>
    </tbody>
</table>
</body>
</html>