<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ADD login page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/default.css"  />
</head>

<body>
<div class="main_wrapper">

    <div style="display: flex; flex-direction: column;" class="wrapper">

        <form class="login_form" th:action="@{/login}" th:object="${loginForm_}" method="POST">
            <h3 class="form-signin-heading heading"  th:text="Welcome"></h3>
            <br/>
            <input type="text" name="email" th:field="*{username}" th:placeholder="Username"
                    class="form-control" />
            <br/>
            <div class="pass_wrapper">
                <input type="password" th:field="*{password}" th:placeholder="Password"
                       name="password" class="form-control"/>
                <a class="show_pass_btn">SHOW</a>
            </div>
            <div class="error" th:if="${#httpServletRequest.getParameter('error') == 'inactive_user'}">
                <p style="font-size: 14px; color: #FF1C19;">Your status is INACTIVE</p>
            </div>
            <div class="error" th:if="${#httpServletRequest.getParameter('error') == 'no_user'}">
                <p style="font-size: 14px; color: #FF1C19;">Username is incorrect</p>
            </div>
            <div class="error" th:if="${#httpServletRequest.getParameter('error') == 'wrong_password'}">
                <p style="font-size: 14px; color: #FF1C19;">Password is incorrect</p>
            </div>
            <br/>
            <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button>
            <br/>
            <div class="reg_forms">
                    <a class="btn btn-warning" th:href="@{/registration/company}">Company Registration</a>
                    <a class="btn btn-warning" th:href="@{/registration/customer}">Customer Registration</a>
            </div>
        </form>
    </div>
</div>
<script src="/js/show_pass.js"></script>
</body>
</html>