<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Contract list</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/table-filter.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css"/>
    <link rel="stylesheet" type="text/css" href="/css/contracts.css"/>
    <script src="/webjars/jquery/3.1.0/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/1.0.2/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"
            integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/table-filter.js"></script>
    <script th:src="@{/js/moment.js}"></script>
</head>

<body>

<div class="modal fade" id="load_icon_wrapper" data-backdrop="static" data-keyboard="false">
    <img id="load" src="/img/load_icon.gif"/>
</div>

<div class="wrapper">
    <div th:replace="fragments/header :: header"></div>
    <div class="content_wrapper">
        <div class="filter_wrapper">
            <div class="filter_title">
                <span>FILTERS</span>
                <a th:href="${companyId==0} ? @{/customer/contracts} : @{/company/contracts}"
                   class="default_btn"><span class="btn_icon_left"><i class="fas fa-eraser"></i></span><span>Clear all filters</span></a>
            </div>
            <div class="filter_content">
                <form class="filter_form"
                      th:object="${filter}"
                      th:action="${companyId==0} ? @{/customer/contracts/filtered} : @{/company/contracts/filtered}"
                      method="post">
                    <div class="filter_form_status filter_item">
                        <label for="adv_filter_status">Status</label>
                        <select id="adv_filter_status" class="form-control input-sm" th:field="*{contractStatus}">
                            <option value="">--all--</option>
                            <option th:each="currStatus : ${statusListForFilter}"
                                    th:value="${currStatus.name()}"
                                    th:text="${currStatus.toString()}">
                            </option>
                        </select>
                    </div>
                    <div class="filter_form_range_sum filter_item">
                        <div class="sum_input">
                            <label for="adv_filter_sumFrom">Sum from</label>
                            <input class="form-control input-sm input-br-head" id="adv_filter_sumFrom" type="number"
                                   th:field="*{sumFrom}"
                                   placeholder="sum from" required/>
                        </div>
                        <div class="sum_input">
                            <label for="adv_filter_sumTo">Sum to</label>
                            <input class="form-control input-sm input-br-head" id="adv_filter_sumTo" type="number"
                                   th:field="*{sumTo}"
                                   placeholder="sum to" required/>
                        </div>
                    </div>
                    <div class="filter_form_range_date filter_item">
                        <div class="date_input">
                            <label for="adv_filter_date_from">Date from</label>
                            <input type="date" id="adv_filter_date_from" class="form-control input-sm input-br-head"
                                   th:field="*{dateFrom}"/>
                        </div>
                        <div class="date_input">
                            <label for="adv_filter_date_to">Date to</label>
                            <input type="date" id="adv_filter_date_to" class="form-control input-sm input-br-head"
                                   th:field="*{dateTo}"/>
                        </div>
                    </div>
                    <div class="filter_item">
                        <button type="submit" class="btn_apply"><span>Apply</span>
                            <span class="btn_icon_right"><i class="fas fa-check"></i></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="filterable">
            <div class="panel-heading">
                <!--<h3 class="panel-title">Contracts</h3>-->
                <button sec:authorize="hasAuthority('COMPANY')" data-toggle="modal" data-target="#modalContract" data-backdrop="static"
                        class="btn_create_service" role="button" th:id="${companyId}"
                        onclick="createNewContract(this)">
                    <div>
                        <span class="btn_icon_left"><i class="fas fa-plus-circle"></i></span>
                        <span>NEW CONTRACT</span>
                    </div>
                </button>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs btn-filter">
                        <span class="glyphicon glyphicon-filter"></span>Search
                    </button>
                </div>
            </div>
            <table class="table">
                <thead>
                <tr class="filters">
                    <th sec:authorize="hasAuthority('CUSTOMER')"><input type="text" class="form-control"
                                                                        placeholder="Company name" disabled></th>
                    <th sec:authorize="hasAuthority('COMPANY')"><input type="text" class="form-control"
                                                                       placeholder="Customer name" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Issue date" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Expire date" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Service name" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Sum" disabled></th>
                    <th>
                        <select class="sel_status_contract" disabled>
                            <option selected value="Status">Status</option>
                            <option th:each="status : ${statusListForFilter}"
                                    th:text="${status.toString()}">
                            </option>
                        </select>
                    </th>
                    <th></th>
                </tr>

                </thead>
                <tbody class="filter_body">
                <tr th:each="contract : ${contractList}" th:id="${'row'+contract.getId()}">

                    <td sec:authorize="hasAuthority('CUSTOMER')" th:id="company_name"
                        th:text="${contract.getCompany().getName()}">company name
                    </td>
                    <td sec:authorize="hasAuthority('COMPANY')" th:id="customer"
                        th:text="${contract.getCustomer().getFullName()}">customer
                        name
                    </td>
                    <td th:id="issueDate" th:text="${#temporals.format(contract.getIssueDate(),'dd.MM.yyyy')}">issue date</td>
                    <td th:id="expireDate" th:text="${#temporals.format(contract.getExpireDate(),'dd.MM.yyyy')}">expire date
                    </td>
                    <td th:id="productName" th:text="${contract.getProduct().getName()}">service name</td>
                    <td th:id="sum" th:text="${#numbers.formatDecimal(contract.getSum(),1,2)+' MDL'}"
                        th:value="${contract.getSum()}">sum
                    </td>
                    <td  th:id="status"
                        th:value="${contract.getStatus().name()}"><span class="filter_status_contract" th:text="${contract.getStatus()}"></span>
                    </td>

                    <td align="center">
                        <div class="dropdown">
                            <a class="dropdown-toggle" type="button" id="menu1" data-toggle="dropdown" title="Actions..">
                                <span><i class="fas fa-ellipsis-h"></i></span>
                                </a>
                            <ul class="dropdown-menu dropdown-menu-right dropdown_action" role="menu" aria-labelledby="menu1">
                                <li role="presentation" th:if="not ${contract.getStatus().name()=='ACTIVE'}">
                                    <a role="menuitem" tabindex="-1"
                                       th:id="'btn_sign_'+${contract.getId()}"
                                       onclick="askForSignContract(this)">
                                        <span class="btn_icon_left"><i class="fas fa-check"></i></span>
                                        <span>SIGN</span>
                                    </a>
                                </li>
                                <li role="presentation" sec:authorize="hasAuthority('COMPANY')"
                                    th:if="${contract.getStatus().name()=='ACTIVE'}">
                                    <a role="menuitem" tabindex="-1"
                                       th:id="'btn_createInvoice_'+${contract.getId()}"
                                       onclick="createNewInvoice(this)">
                                        <span class="btn_icon_left"><i class="fas fa-file-alt"></i></span>
                                        <span>CREATE INVOICE</span>
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1"
                                       th:id="'btn_delete_'+${contract.getId()}"
                                       onclick="deleteContract(this)">
                                        <span class="btn_icon_left"><i class="fas fa-trash-alt"></i></span>
                                        <span>DELETE</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>


<div class="modal fade" id="createInvoiceDialog" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create new Invoice</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Company</label>
                        <div class="col-sm-6">
                            <input type="hidden" id="company_inv_in" th:value="${companyName}">
                            <input type="text" class="form-control" id="company_inv_out" readonly/>
                            <input type="text" class="form-control" id="contract_inv_ID" style="display: none"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Customer</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="customer_inv_name" value="" readonly/>
                            <p class="error-message" id="customer_inv_nameError" style="display: none"> validation
                                error</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Issue date</label>
                        <div class="col-sm-6">
                            <input type="date" class="form-control" id="issue_inv_date" required="required"/>
                            <p class="error-message" id="issue_inv_dateError" style="display: none"> validation
                                error</p>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Due date</label>
                        <div class="col-sm-6">
                            <input type="date" class="form-control" id="expire_inv_date" required="required"/>
                            <p class="error-message" id="expire_inv_dateError" style="display: none">validation
                                error</p>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-3 control-label">Service</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="product_inv" value="" readonly/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Sum</label>
                        <div class="col-sm-6">
                            <input type="number" class="form-control" id="sum_inv"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Status</label>
                        <div class="col-sm-6">
                            <input type="hidden" id="status_inv_in" th:value="${status}"/>
                            <input type="text" class="form-control" id="status_inv_out" readonly/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6 col-xs-offset-3">
                            <button id="save_btn" onclick="saveInvoiceButton()" type="button" class="btn btn-success">
                                Save
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDeleteConfirm" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <input id="deleteContractId" type="text" hidden="hidden"/>
            </div>
            <div class="modal-footer modal_btn">
                <button id="btn_delete_contract" type="button" class="btn btn-warning">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalSignConfirm" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="form-control">
                    <label class="col-sm-3 control-label">Current status:</label>
                    <div class="col-sm-6">
                        <p id="currentContractStatus"></p>
                        <input id="signContractId" value="" type="hidden"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer modal_btn">
                <button id="btn_sign_contract" type="button"
                        class="btn btn-primary" onclick="signContract()">Sign
                </button>
                <button id="btn_unsign_contract" type="button"
                        class="btn btn-primary" onclick="signContract()">Unsign
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalContract" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Contract details:</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Issue date</label>
                        <div class="col-sm-6">
                            <input type="date" class="form-control" id="new_issueDate" required="required"/>
                            <p class="error-message" id="new_issueDateError" style="display: none"> validation error</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Expire date</label>
                        <div class="col-sm-6">
                            <input type="date" class="form-control" id="new_expireDate" required="required"/>
                            <p class="error-message" id="new_expireDateError" style="display: none">validation error</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Company</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="new_company" readonly/>
                            <input type="hidden" class="form-control" id="new_companyId"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Customer</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="new_customerSelect" required="required">
                                <option value="0">--select--</option>
                            </select>
                            <p class="error-message" id="new_customerSelectError" style="display: none">validation
                                error</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Service</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="new_productSelect" required="required">
                                <option value="0">--select--</option>
                            </select>
                            <p class="error-message" id="new_productSelectError" style="display: none">validation
                                error</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Sum</label>
                        <div class="col-sm-6">
                            <input type="number" class="form-control" id="new_sum" readonly/>
                            <p class="error-message" id="new_sumError" style="display: none">validation error</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Signature</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="new_status">
                                <option selected>Signed</option>
                                <option>Unsigned</option>
                            </select>
                        </div>
                    </div>

                    <div class="alert alert-warning">
                        <span id="new_contractError" style="display: none">validation error</span>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6 col-xs-offset-3">
                            <button type="submit" id="btn_save_contract" class="btn btn-info">Save</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAlert" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="alertTitle"></h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer modal_btn">
                <button type="button" class="btn btn-default" data-dismiss="modal"
                        onclick="location.reload()">Ok
                </button>
            </div>
        </div>
    </div>
</div>

<script src="/js/user-websock.js"></script>
<script src="/js/customer-sock-distribute.js"></script>
<script src="/js/loadbalance.js"></script>
</body>
<script>

    $(document).ready(function () {
        $('#createInvoiceDialog').on('hidden.bs.modal', function () {
            clearErrorsSecond();
        });
        $.each($(".filter_status_contract"),function () {
            if ($(this).text() === "Active"){
                $(this).addClass("contract_active");
            } else if ($(this).text() === "Unsigned"){
                $(this).addClass("contract_unsigned");
            }else {
                $(this).addClass("contract_pending");
            }
        });
    });

    function deleteContract(btn) {
        var contractId = btn.id.substring(11);
        var row = $('#row' + contractId);
        var modalConfirm = $('#modalDeleteConfirm');
        modalConfirm.find('.modal-title').text('Are you sure to delete the contract?');
        var modalBody = modalConfirm.find('.modal-body');
        modalBody.find('p').empty();
        var companyName = row.find('#company_name').text();
        if (companyName !== '') {
            modalBody.append('<p>Company: ' + companyName + '</p>');
        }
        var customerName = row.find('#customer').text();
        if (customerName !== '') {
            modalBody.append('<p>Customer: ' + customerName + '</p>');
        }
        modalBody.append('<p>Service: ' + row.find('#productName').text() + '</p>');
        modalBody.append('<p>Sum: ' + row.find('#sum').text() + '</p>');
        modalBody.append('<p>Status: ' + row.find('#status').text() + '</p>');
        modalConfirm.modal({backdrop: "static"});
        modalConfirm.modal('show');
        $('#deleteContractId').val(contractId);
        $("#btn_delete_contract").attr("disabled", false);
    }

    function showAlert(title, message) {
        var alertWindow = $('#modalAlert');
        $('#alertTitle').text(title);
        var alertBody = alertWindow.find('.modal-body');
        alertBody.find('p').empty();
        var strings = message.split('\n');
        for (i = 0; i < strings.length; i++) {
            alertBody.append('<p>' + strings[i] + '</p>');
        }
        alertWindow.modal({backdrop: "static"});
        alertWindow.modal('show');
    }

    $('#btn_delete_contract').click(function () {
        $("#btn_delete_contract").attr("disabled", true);
        $.ajax(
            {
                url: "/contractRest/deleteContract",
                type: "POST",
                data: {"contractId": $('#deleteContractId').val()},
                success: function () {
                    $("#modalDeleteConfirm").modal("hide");
                    showAlert('Contract was deleted', '');
                },
                error: function (result) {
                    $("#modalDeleteConfirm").modal("hide");
                    showAlert('Contract can not be deleted', result.responseText);
                }
            }
        )
    });

    function createNewInvoice(btn) {
        clearErrorsSecond();
        var rowId = btn.id.substring(18);
        var row = $("#row" + rowId);
        var issueDate = new Date();

        $('#issue_inv_date').val(moment(issueDate).format('YYYY-MM-DD'));
        $('#company_inv_out').val($('#company_inv_in').val());
        $('#status_inv_out').val($('#status_inv_in').val());
        $('#customer_inv_name').val(row.find("#customer").text());
        $('#product_inv').val(row.find("#productName").text());
        $('#sum_inv').val(row.find("#sum").attr('value'));
        $('#contract_inv_ID').val(rowId);

        console.log('Contract ID: ' + $("#contract_inv_ID").val());
        console.log($('#customer_inv_name').val());
        console.log($('#product_inv').val());
        console.log($('#sum_inv').val());
        console.log($('#status_inv_out').val());
        console.log($('#issue_inv_date').val());
        console.log($('#expire_inv_date').val());

        $('#createInvoiceDialog').modal({backdrop: "static"});
        $("#createInvoiceDialog").modal('show');

    }

    function saveInvoiceButton() {

        var issueDate = $("#issue_inv_date").val();
        var expireDate = $("#expire_inv_date").val();
        var contractID = $("#contract_inv_ID").val();
        var sum = $("#sum_inv").val();
        // var sum = parseFloat(sum2);
        var status = $("#status_inv_out").val();

        var data = {
            issueDate: issueDate,
            dueDate: expireDate,
            contractId: contractID,
            status: status,
            sum: sum
        };
        editAjax(data);
    }

    function editAjax(data) {
        $.ajax({
            type: "POST",
            url: "/restinvoice/newInvoice",
            // The key needs to match your method's input parameter (case-sensitive).
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                console.log(data);
                console.log("success!!!");
                console.log(response);

                if (response.status === 'FAIL') {
                    console.log('FAILED !!!');
                    var allErrors = response.errorMessageList;
                    for (var i = 0; i < allErrors.length; i++) {
                        var currFieldName = allErrors[i].fieldName;
                        var currErrorMessage = allErrors[i].message;
                        $('#' + currFieldName).parent().addClass('has-error');
                        $('#' + currFieldName + 'Error').text(currErrorMessage);
                        $('#' + currFieldName + 'Error').show();
                    }
                } else {
                    $('#createInvoiceDialog').modal('hide');
                    showAlert('New invoice was added successful', '');
                    location.reload();
                }

            },
            error: function (errMsg, a, b) {
                alert("Please call admins")
                console.log("fail")
                console.log(errMsg)
                console.log(a)
                console.log(b)

            }
        });
    }

    function loadAllCustomers() {
        $('#new_customerSelect').find('option').each(function () {
            if ($(this).text() !== '--select--') {
                $(this).remove();
            }
        });
        $.ajax(
            {
                url: "/customerRest/getAllFullNames",
                type: "GET",
                success: function (result) {
                    $.each(result, function (id, fullName) {
                        $("#new_customerSelect").append("<option value='" + id + "'>" + fullName + "</option>")
                    });
                }
            }
        )
    }

    function loadProducts(companyId) {
        $('#new_productSelect').find('option').each(function () {
            if ($(this).text() !== '--select--') {
                $(this).remove();
            }
        });
        $.ajax(
            {
                url: "/productRest/getAllByCompanyId",
                type: "GET",
                data: {"companyId": companyId},
                success: function (result) {
                    $.each(result, function (id, name) {
                        $("#new_productSelect").append("<option value='" + id + "'>" + name + "</option>")
                    });
                }
            }
        )
    }

    function loadCompanyName(companyId) {
        $.ajax(
            {
                url: "/companyRest/getNameById",
                type: "GET",
                data: {"companyId": companyId},
                success: function (result) {
                    $('#new_company').val(result);
                }
            }
        )
    }

    $('#new_productSelect').change(function () {
        var productId = $(this).val();
        $.ajax(
            {
                url: "/productRest/getPriceById",
                type: "GET",
                data: {"productId": productId},
                success: function (result) {
                    $('#new_sum').val(result);
                }
            }
        )
    });

    function createNewContract(btn) {
        clearErrors();
        var companyId = btn.id;
        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var today = now.getFullYear() + "-" + (month) + "-" + (day);
        $('#new_issueDate').val(today);
        $('#new_expireDate').val(null);
        $('#new_companyId').val(companyId);
        $('#new_sum').val('0.0');
        loadCompanyName(companyId);
        loadAllCustomers();
        loadProducts(companyId);
        $("#btn_save_contract").attr("disabled", false);
    }

    $("#btn_save_contract").click(function (event) {
        event.preventDefault();
        $("#btn_save_contract").attr("disabled", true);
        $('#alertMessage').text('');
        var newContractData = {
            "issueDate": $("#new_issueDate").val(),
            "expireDate": $("#new_expireDate").val(),
            "sum": $("#new_sum").val(),
            "status": ($("#new_status").val() === 'Signed' ? "SIGNED_BY_COMPANY" : "UNSIGNED"),
            "companyId": $("#new_companyId").val(),
            "customerId": $("#new_customerSelect").val(),
            "productId": $("#new_productSelect").val()
        };

        $.ajax(
            {
                url: "/contractRest/newContract",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(newContractData),
                success: function (response) {

                    if (response.status === 'FAIL') {
                        var allErrors = response.errorMessageList;
                        for (i = 0; i < allErrors.length; i++) {
                            var currFieldName = allErrors[i].fieldName;
                            var currErrorMessage = allErrors[i].message;
                            $('#' + currFieldName).parent().addClass('has-error');
                            $('#' + currFieldName + 'Error').text(currErrorMessage);
                            $('#' + currFieldName + 'Error').show();
                        }
                    } else {
                        $('#modalContract').modal('hide');
                        showAlert('New contract was created successful', '');
                        location.reload();
                    }
                },

                error: function (exception) {
                    alert('Error: ' + exception);

                }
            }
        )
    });

    function clearErrors() {
        $('#new_issueDate').focus(function () {
            $('#new_issueDate').parent().removeClass('has-error');
            $('#new_issueDateError').hide();
            $("#btn_save_contract").attr("disabled", false);
        });
        $('#new_expireDate').focus(function () {
            $('#new_expireDateError').hide();
            $('#new_expireDate').parent().removeClass('has-error');
            $("#btn_save_contract").attr("disabled", false);
        });
        $('#new_customerSelect').focus(function () {
            $('#new_customerSelectError').hide();
            $('#new_customerSelect').parent().removeClass('has-error');
            $('#new_contractError').hide();
            $("#btn_save_contract").attr("disabled", false);
        });
        $('#new_productSelect').focus(function () {
            $('#new_productSelectError').hide();
            $('#new_productSelect').parent().removeClass('has-error');
            $('#new_contractError').hide();
            $("#btn_save_contract").attr("disabled", false);
        });
        $('#new_sum').focus(function () {
            $('#new_sumError').hide();
            $('#new_sum').parent().removeClass('has-error');
            $("#btn_save_contract").attr("disabled", false);
        });
        $('#new_expireDateError').hide();
        $('#new_expireDate').parent().removeClass('has-error');
        $('#new_expireDateError').hide();
        $('#new_expireDate').parent().removeClass('has-error');
        $('#new_customerSelectError').hide();
        $('#new_customerSelect').parent().removeClass('has-error');
        $('#new_contractError').hide();
        $('#new_productSelect').parent().removeClass('has-error');
        $('#new_contractError').hide();
        $('#new_sumError').hide();
        $('#new_sum').parent().removeClass('has-error');
    }

    function clearErrorsSecond() {

        $('#issue_inv_date').focus(function () {
            $('#issue_inv_date').parent().removeClass('has-error');
            $('#issue_inv_dateError').hide();
        })

        $('#expire_inv_date').focus(function () {
            $('#expire_inv_date').parent().removeClass('has-error');
            $('#expire_inv_dateError').hide();
        })

        $('#issue_inv_dateError').hide();
        $('#expire_inv_dateError').hide();
        $('#issue_inv_date').parent().removeClass('has-error');
        $('#expire_inv_date').parent().removeClass('has-error');

    }

    function askForSignContract(btn) {
        var rowId = btn.id.substring(9);
        var row = $("#row" + rowId);
        var currentStatus = row.find('#status').text();
        $('#signContractId').val(rowId);
        $('#currentContractStatus').text(currentStatus);
        var title = "";
        if (currentStatus === 'Unsigned') {
            title = "Do you want to sing this contract?";
            $('#btn_unsign_contract').hide();
        } else {
            title = "Do you want to change signature of this contract?";
            $('#btn_sign_contract').hide();
        }
        $('#modalSignConfirm').find('.modal-title').text(title);
        $('#modalSignConfirm').modal({backdrop: "static"});
        $('#modalSignConfirm').modal('show');
        $("#btn_sign_contract").attr("disabled", false);
        $("#btn_unsign_contract").attr("disabled", false);
    }

    function signContract() {
        $("#btn_sign_contract").attr("disabled", true);
        $("#btn_unsign_contract").attr("disabled", true);
        $.ajax(
            {
                url: "/contractRest/signContract",
                type: "POST",
                data: {
                    "contractId": $('#signContractId').val()
                },
                success: function (result) {
                    $("#modalSignConfirm").modal("hide");
                    location.reload();
                }
            })
    }

    $('#btn_sign_contract').click(function(){
        signContract();
    })

</script>
<script>$(".i_contracts").addClass("active_menu_link");</script>
</html>