<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Contract list</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/table-filter.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/table-filter.js"></script>
    <script th:src="@{/js/moment.js}"></script>
</head>

<body>
<div th:replace="fragments/header :: header">

</div>

<div class="panel panel-default panel-no-border">
    <div class="panel-body">
        <a sec:authorize="hasAuthority('COMPANY')" data-toggle="modal" data-target="#modalContract"
           class="btn btn-info btn-sm" role="button" th:id="${companyId}"
           onclick="createNewContract(this)">Create new contract</a>
        <form class="form-inline">
            <!--<div class="form-group">-->
                <!--<label>Advanced filter</label>-->
            <!--</div>-->
            <div class="form-group">
                <label for="adv_filter_status">status</label>
                <select id="adv_filter_status" class="form-control">
                    <option th:each="status : ${statusListForFilter}"
                            th:value="${status.name()}"
                            th:text="${status.toString()}">
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label></label>
                <input type="text" class="form-control">
            </div>
            <button type="submit" class="btn btn-default">Apply</button>
        </form>
    </div>
</div>

<div class="panel panel-primary filterable">
    <div class="panel-heading">
        <h3 class="panel-title">Contracts</h3>
        <div class="pull-right">
            <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter
            </button>
        </div>
    </div>
    <table class="table table-condensed table-stripped">
        <thead>
        <tr class="filters">
            <th sec:authorize="hasAuthority('CUSTOMER')"><input type="text" class="form-control"
                                                                placeholder="Company name" disabled></th>
            <th sec:authorize="hasAuthority('COMPANY')"><input type="text" class="form-control"
                                                               placeholder="Customer name" disabled></th>
            <th><input type="text" class="form-control" placeholder="Issue date" disabled></th>
            <th><input type="text" class="form-control" placeholder="Expire date" disabled></th>
            <th><input type="text" class="form-control" placeholder="Service name" disabled></th>
            <th><input type="text" class="form-control" placeholder="Sum" disabled></th>
            <th><input type="text" class="form-control" placeholder="Status" disabled></th>
        </tr>

        </thead>
        <tbody>
        <tr th:each="contract : ${contractList}" th:id="${'row'+contract.getId()}">

            <td sec:authorize="hasAuthority('CUSTOMER')" th:text="${contract.getCompany().getName()}">company name</td>
            <td sec:authorize="hasAuthority('COMPANY')" th:id="customer"
                th:text="${contract.getCustomer().getFullName()}">customer
                name
            </td>
            <td th:id="issueDate" th:text="${#temporals.format(contract.getIssueDate(),'dd.MM.yyyy')}">issue date</td>
            <td th:id="expireDate" th:text="${#temporals.format(contract.getExpireDate(),'dd.MM.yyyy')}">expire date
            </td>
            <td th:id="productName" th:text="${contract.getProduct().getName()}">service name</td>
            <td th:id="sum" th:text="${#numbers.formatDecimal(contract.getSum(),1,2)+' MDL'}">sum</td>
            <td th:id="status" th:text="${contract.getStatus()}"
                th:value="${contract.getStatus().name()}">Status
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-info btn-sm dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                        Actions ...
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
                        <li role="presentation" th:if="not ${contract.getStatus().name()=='ACTIVE'}">
                            <a role="menuitem" tabindex="-1"
                               th:id="'btn_sign_'+${contract.getId()}"
                               onclick="signContract(this)">Sign</a>
                        </li>
                        <li role="presentation" sec:authorize="hasAuthority('COMPANY')"
                            th:if="${contract.getStatus().name()=='ACTIVE'}">
                            <a role="menuitem" tabindex="-1"
                               th:id="'btn_createInvoice_'+${contract.getId()}"
                               onclick="createNewInvoice(this)">Create invoice</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1"
                               th:id="'btn_delete_'+${contract.getId()}"
                               onclick="deleteContract(this)">Delete</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="createInvoiceDialog" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create new Invoice</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Company</label>
                        <div class="col-sm-6">
                            <input type="hidden" id="company_inv_in" th:value="${companyName}">
                            <input type="text" class="form-control" id="company_inv_out" readonly/>
                            <input type="text" class="form-control" id="contract_inv_ID" style="display: none"/>
                            <!--<input type="hidden" class="form-control" id="companyIdA"/>-->
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Customer</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="customer_inv_name" value="" readonly/>
                            <!--<input type="hidden" class="form-control" id="customerIdA"/>-->
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Issue date</label>
                        <div class="col-sm-6">
                            <input type="date" class="form-control" id="issue_inv_date" required="required"/>
                            <!--<p class="error-message" id="issueDateError" style="display: none"> validation error</p>-->
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Due date</label>
                        <div class="col-sm-6">
                            <input type="date" class="form-control" id="expire_inv_date" required="required"/>
                            <!--<p class="error-message" id="expireDateError" style="display: none">validation error</p>-->
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-3 control-label">Service</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="product_inv" value="" readonly/>
                            <!--<input type="hidden" class="form-control" id="productIdA"/>-->
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Sum</label>
                        <div class="col-sm-6">
                            <input type="number" class="form-control" id="sum_inv"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Status</label>
                        <div class="col-sm-6">
                            <input type="hidden" id="status_inv_in" th:value="${status}">
                            <input type="text" class="form-control" id="status_inv_out" readonly/>


                            <!--<select class="form-control" id="statusA">-->
                            <!--<option selected>Signed</option>-->
                            <!--<option>Unsigned</option>-->
                            <!--</select>-->
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6 col-xs-offset-3">
                            <!--<button type="submit" id="btn_save_contract" class="btn btn-info">Save</button>-->
                            <button id="save_btn" onclick="saveInvoiceButton()" type="button" class="btn btn-success">
                                Save
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDeleteConfirm" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Are you sure?</h4>
                <input id="deleteContractId" type="text" hidden="hidden"/>
            </div>
            <div class="modal-footer modal_btn">
                <button id="btn_delete_contract" type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalSignConfirm" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Do you want to sign this contract?</h4>
            </div>
            <div class="modal-body">
                <div class="form-control">
                    <label class="col-sm-3 control-label">Current status:</label>
                    <div class="col-sm-6">
                        <p id="currentContractStatus"></p>
                        <input id="signContractId" value="" type="hidden"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer modal_btn">
                <button id="btn_sign_contract" type="button" class="btn btn-primary">Sign</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalContract" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Contract details</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Issue date</label>
                        <div class="col-sm-6">
                            <input type="date" class="form-control" id="new_issueDate" required="required"/>
                            <p class="error-message" id="new_issueDateError" style="display: none"> validation error</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Expire date</label>
                        <div class="col-sm-6">
                            <input type="date" class="form-control" id="new_expireDate" required="required"/>
                            <p class="error-message" id="new_expireDateError" style="display: none">validation error</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Company</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="new_company" readonly/>
                            <input type="hidden" class="form-control" id="new_companyId"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Customer</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="new_customerSelect" required="required">
                                <option value="0">--select--</option>
                            </select>
                            <p class="error-message" id="new_customerSelectError" style="display: none">validation
                                error</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Service</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="new_productSelect" required="required">
                                <option value="0">--select--</option>
                            </select>
                            <p class="error-message" id="new_productSelectError" style="display: none">validation
                                error</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Sum</label>
                        <div class="col-sm-6">
                            <input type="number" class="form-control" id="new_sum" readonly/>
                            <p class="error-message" id="new_sumError" style="display: none">validation error</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Signature</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="new_status">
                                <option selected>Signed</option>
                                <option>Unsigned</option>
                            </select>
                        </div>
                    </div>

                    <div class="alert alert-warning">
                        <span id="new_contractError" style="display: none">validation error</span>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6 col-xs-offset-3">
                            <button type="submit" id="btn_save_contract" class="btn btn-info">Save</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAlert" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="alertMessage"></h4>
            </div>
            <div class="modal-footer modal_btn">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</body>

<script>

    function deleteContract(btn) {

        var rowId = btn.id.substring(11);
        $('#modalDeleteConfirm').modal('show');
        $('#deleteContractId').val(rowId);

    }

    $('#btn_delete_contract').click(function () {
        $.ajax(
            {
                url: "/contractRest/deleteContract",
                type: "POST",
                data: {"contractId": $('#deleteContractId').val()},
                success: function () {
                    $("#modalDeleteConfirm").modal("hide");
                    location.reload();
                }
            }
        )
    })

    function createNewInvoice(btn) {

        var rowId = btn.id.substring(18);
        var row = $("#row" + rowId);
        var issueDate = new Date();

        // console.log(row.find("#contractId").text());

        $('#issue_inv_date').val(moment(issueDate).format('YYYY-MM-DD'));
        $('#company_inv_out').val($('#company_inv_in').val());
        $('#status_inv_out').val($('#status_inv_in').val());
        $('#customer_inv_name').val(row.find("#customer").text());
        $('#product_inv').val(row.find("#productName").text());
        $('#sum_inv').val(parseFloat(row.find("#sum").text()));
        $('#contract_inv_ID').val(rowId);

        console.log('Contract ID: ' + $("#contract_inv_ID").val());
        console.log($('#customer_inv_name').val());
        console.log($('#product_inv').val());
        console.log($('#sum_inv').val());
        console.log($('#status_inv_out').val());
        console.log($('#issue_inv_date').val());
        console.log($('#expire_inv_date').val());


        $("#createInvoiceDialog").modal();

    }

    function saveInvoiceButton() {

        var issueDate = $("#issue_inv_date").val();
        var expireDate = $("#expire_inv_date").val();
        var contractID = $("#contract_inv_ID").val();
        var sum = $("#sum_inv").val();
        var status = $("#status_inv_out").val();

        var data = {
            issueDate: issueDate,
            dueDate: expireDate,
            contractId: contractID,
            status: status,
            sum: sum
        };
        editAjax(data);
    }

    function editAjax(data) {
        $.ajax({
            type: "POST",
            url: "/restinvoice/createInvoice",
            // The key needs to match your method's input parameter (case-sensitive).
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                console.log(data);
                console.log("success");
                // $("#dueDate" + data.id).text(moment(data.dueDate, 'YYYY-MM-DD').format('DD-MM-YYYY'));
                // $("#sum" + data.id).text(data.sum);
                $("#createInvoiceDialog").modal('hide')
                $('#alertMessage').text('New invoice was added successful');
                $('#modalAlert').modal('show');
            },
            error: function (errMsg, a, b) {
                alert("Please call admins")
                console.log("fail")
                console.log(errMsg)
                console.log(a)
                console.log(b)

            }
        });
    }


    function loadAllCustomers() {
        $('#new_customerSelect').find('option').each(function () {
            if ($(this).text() != '--select--') {
                $(this).remove();
            }
        })
        $.ajax(
            {
                url: "/customerRest/getAllFullNames",
                type: "GET",
                success: function (result) {
                    $.each(result, function (id, fullName) {
                        $("#new_customerSelect").append("<option value='" + id + "'>" + fullName + "</option>")
                    });
                }
            }
        )
    }

    function loadProducts(companyId) {
        $('#new_productSelect').find('option').each(function () {
            if ($(this).text() != '--select--') {
                $(this).remove();
            }
        })
        $.ajax(
            {
                url: "/productRest/getAllByCompanyId",
                type: "GET",
                data: {"companyId": companyId},
                success: function (result) {
                    $.each(result, function (id, name) {
                        $("#new_productSelect").append("<option value='" + id + "'>" + name + "</option>")
                    });
                }
            }
        )
    }

    function loadCompanyName(companyId) {
        $.ajax(
            {
                url: "/companyRest/getNameById",
                type: "GET",
                data: {"companyId": companyId},
                success: function (result) {
                    $('#new_company').val(result);
                }
            }
        )
    }

    $('#new_productSelect').change(function () {
        var productId = $(this).val();
        $.ajax(
            {
                url: "/productRest/getPriceById",
                type: "GET",
                data: {"productId": productId},
                success: function (result) {
                    $('#new_sum').val(result);
                }
            }
        )
    })


    function createNewContract(btn) {
        clearErrors();
        var companyId = btn.id;
        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var today = now.getFullYear() + "-" + (month) + "-" + (day);
        $('#new_issueDate').val(today);
        $('#new_expireDate').val(null);
        $('#new_companyId').val(companyId);
        $('#new_sum').val('0.0');
        loadCompanyName(companyId);
        loadAllCustomers();
        loadProducts(companyId);
    };

    $("#btn_save_contract").click(function (event) {

        event.preventDefault();

        $('#alertMessage').text('');

        var newContractData = {
            "issueDate": $("#new_issueDate").val(),
            "expireDate": $("#new_expireDate").val(),
            "sum": $("#new_sum").val(),
            "status": ($("#new_status").val() === 'Signed' ? "SIGNED_BY_COMPANY" : "UNSIGNED"),
            "companyId": $("#new_companyId").val(),
            "customerId": $("#new_customerSelect").val(),
            "productId": $("#new_productSelect").val()
        }

        $.ajax(
            {
                url: "/contractRest/newContract",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(newContractData),
                success: function (response) {

                    if (response.status === 'FAIL') {
                        var allErrors = response.errorMessageList;
                        for (i = 0; i < allErrors.length; i++) {
                            var currFieldName = allErrors[i].fieldName;
                            var currErrorMessage = allErrors[i].message;
                            $('#' + currFieldName).parent().addClass('has-error');
                            $('#' + currFieldName + 'Error').text(currErrorMessage);
                            $('#' + currFieldName + 'Error').show();
                        }
                    } else {
                        $('#modalContract').modal('hide');
                        $('#alertMessage').text('New contract was added successful');
                        location.reload();
                        $('#modalAlert').modal('show');
                    }
                },

                error: function (exception) {
                    alert('Error: ' + exception);

                }
            }
        )
    })

    function clearErrors() {
        $('#new_issueDate').focus(function () {
            $('#new_issueDate').parent().removeClass('has-error');
            $('#new_issueDateError').hide();
        })
        $('#new_expireDate').focus(function () {
            $('#new_expireDateError').hide();
            $('#new_expireDate').parent().removeClass('has-error');
        })
        $('#new_customerSelect').focus(function () {
            $('#new_customerSelectError').hide();
            $('#new_customerSelect').parent().removeClass('has-error');
            $('#new_contractError').hide();
        })
        $('#new_productSelect').focus(function () {
            $('#new_productSelectError').hide();
            $('#new_productSelect').parent().removeClass('has-error');
        })
        $('#new_sum').focus(function () {
            $('#new_sumError').hide();
            $('#new_sum').parent().removeClass('has-error');
        })
    }

    function signContract(btn) {
        var rowId = btn.id.substring(9);
        var row = $("#row" + rowId);
        $('#modalSignConfirm').modal('show');
        $('#signContractId').val(rowId);
        $('#currentContractStatus').text(row.find('#status').text());
    }

    $('#btn_sign_contract').click(function () {
        $.ajax(
            {
                url: "/contractRest/signContract",
                type: "POST",
                data: {
                    "contractId": $('#signContractId').val()
                },
                success: function (result) {
                    $("#modalSignConfirm").modal("hide");
                    var row = $("#row" + $("#signContractId").val());
                    row.find('#status').text(result);
                }
            }
        )
    })

</script>

</html>